@font-face {
  font-family: "Neue";
  src: url(Neue.ttf);
}


html, body {
  margin: 0;
  background-color: rgba(89, 89, 89, 1);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: flex-start;
background-image: url("manual.gif");
      background-position: center;
background-size: contain;
background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 15px;
    font-size: 60px;
}

.container p{
    color: yellow;
    margin: 0;
    text-transform: uppercase;
    font-family: "Neue";
    letter-spacing: 2px;
    line-height: 120%;
    font-weight: bold;
  text-align: justify;
  text-justify: inter-word;
}